@charset "utf-8";
/* CSS document */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    font-family: "Fira Code", monospace;
    background-color:#222222;
}


img {
    border-radius: 40px;
}

/*Caracteristicas generales de todos los botones*/
.boton a {
    width: fit-content;
    padding: 10px 20px;
    text-decoration: none;
    color: #f6f4f0;
    background-color: #798a89;
    border-radius: 50px;
    padding: 10px 20px;
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
}

/* Atributos del <nav> */
.botonera {
    width: 800px;
    min-width: 600px;
    height: 60px;
    margin: 30px;
    padding: 0px 12px;
    position: fixed;
    background-color: #222222;
    border: 1px solid   #cad8ce;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 550px;
}

nav ul li {
    color:  rgb(20, 20, 20);
    display: inline;
}


/* Atributos de cada boton */
.botonera a {
    color: #f6f4f0;
    text-decoration: none;
    font-size: small;
    background-color: #222222;
    border-radius: 50px;
    padding: 10px 20px;
}

.botonera a:hover {
    background-color: #cad8ce;
    color:#222222
}


/* INDEX/HOME */

/* Atributos de 'portada' */
.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Piazzolla";
    font-weight: 100;
    font-style: italic;
    font-size: 200pt;
    color: #f6f4f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h2 {
    font-family: "Piazzolla";
    font-weight: 100;
    font-style: italic;
    font-size: 25pt;
    color: #f6f4f0;
    text-align: center;
}



/* Atributos de 'presentacion'*/

.presentacion {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    }

.presentacion article {
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 300px;
    background: radial-gradient(#cad8ce, #798a89);
    border-radius: 40px;
    max-width: 510%;
    min-width: 400px;
}

.presentacion p {
    color: #f6f4f0;
    font-size: small;
    text-align: center;
}

/*Boton de ''portfolio''*/
.boton div {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Atributos generales de 'secciones'*/
h3 { /* titulares de secciones */
    font-family: "migra";
    font-size: 30px;
    color:  #cad8ce;

}

h4 {
    color: #f6f4f0;
    font-size: medium;
}

p {
    color: #f6f4f0;
    font-size: small;
}


/* Atributos de 'portfolio' */

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 80%;
    border: 1px solid  #cad8ce;
    border-radius: 40px;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.cards {
    display: flex;
}

.box { /* caja con imagen de proyecto */
    height: 420px;
    padding: 2%;
    width: 300px;
}

.portfolio h3 {
    margin-left: 20px;
}

.portfolio h4 {
    margin-top: 20px;
}

.portfolio p {
    margin-top: 15px;
    width: 80%px;
}


/* FOOTER '*/
footer {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

footer div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-frase-redes {
    max-width: 1000px;
    min-width: 600px;
    padding: 30px;
    height: 200px;
    background-color: #222222;
    border: 1px solid #cad8ce;
    border-radius: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.redes ul {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.redes li {
    color:  rgb(20, 20, 20);
    display: inline; /* Distancia entre botones */
}

.redes a {
    color: #222222;
    text-decoration: none;
    background-color: #cad8ce;
    border-radius: 100px;
    padding: 10px;
}

.redes a:hover {
    background-color: #222222;
    color:#cad8ce;
    border: 1px solid #cad8ce;
}

.redes a:active {
    background: rgb(20, 20, 20);
    color:#f6f4f0;
}

.frase p {
    font-family: Piazzolla;
    font-weight: 100;
    font-style: italic;
    font-size: 11pt;
    max-width: 500px;
    min-width: 100px;
    background: #222222;
    padding: 15px 30px;
    border: 1px solid  #cad8ce;
    border-radius: 40px;
    text-align: center;
}

.materia p {
    margin: 20px;
    text-align: center;
    font-size: 10px;
}
