@charset "utf-8";
/* CSS document */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
/*atributos para todos los HTML---------------------*/
body {
    font-family: "Fira Code", monospace;
    background-color:#222222;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Piazzolla";
    font-weight: 100;
    font-style: italic;
    font-size: 200pt;
    color: #f6f4f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h2{
    color: #222222;
    text-align: center;
    font-family: "Piazzolla";
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
}

h3 {
    font-family: "Piazzolla";
    font-weight: 100;
    font-style: italic;
    font-size: 25pt;
    color: #f6f4f0;
    text-align: center;
}

.boton a {
    width: fit-content;
    padding: 10px 20px;
    text-decoration: none;
    color: #f6f4f0;
    background-color: #798a89;
    border-radius: 50px;
    padding: 10px 20px;
}

img {
    border-radius: 15%;
}

.audio {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 60px 0px 0px 0px;
    gap: 15px;
}

.audio h3 {
    font-size: 30px;
}

.audio p {
    font-size: 10px;
}

/* HEADER ---------------------------------------*/
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
}

/* Atributos del <nav> */
.botonera {
    width: 800px;
    min-width: 600px;
    height: 60px;
    margin: 30px;
    padding: 0px 12px;
    position: fixed;
    background-color: #222222;
    border: 1px solid   #cad8ce;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 550px;
}

nav ul li {
    color:  rgb(20, 20, 20);
    display: inline;
}

nav img {
    margin: 10px;
}

/* Atributos de cada boton */
.botonera a {
    color: #f6f4f0;
    text-decoration: none;
    font-size: small;
    background-color: #222222;
    border-radius: 50px;
    padding: 10px 20px;
}

.botonera a:hover {
    background-color: #cad8ce;
    color:#222222
}

h4 {
    color: #f6f4f0;
    font-size: medium;
}

p {
    color: #f6f4f0;
    font-size: small;
}


/* FOOTER------------------------------------*/
footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.contenedor-frase-redes {
    width: 70%;
    min-width: 600px;
    padding: 30px;
    height: 200px;
    background-color: #222222;
    border: 1px solid #cad8ce;
    border-radius: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.redes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.redes ul {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.redes li {
    color:  rgb(20, 20, 20);
    display: inline; /* Distancia entre botones */
}

.redes a {
    color: #222222;
    text-decoration: none;
    background-color: #cad8ce;
    border-radius: 100px;
    padding: 10px;
}

.redes a:hover {
    background-color: #222222;
    color:#cad8ce;
    border: 1px solid #cad8ce;
}

.redes a:active {
    background: rgb(20, 20, 20);
    color:#f6f4f0;
}

.frase p {
    font-family: "Piazzolla";
    font-weight: 100;
    font-style: italic;
    font-size: 11pt;
    max-width: 500px;
    min-width: 100px;
    background: #222222;
    padding: 15px 30px;
    border: 1px solid  #cad8ce;
    border-radius: 40px;
    text-align: center;
}

.materia p {
    margin: 20px;
    text-align: center;
    font-size: 10px;
}


/* INDEX/HOME----------------------------------*/

/* Atributos de 'portada' */
.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Atributos de 'presentacion'*/

.presentacion {
    display: flex;
    justify-content: center;
    margin: 90px 0px;
    }

.presentacion article {
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 300px;
    background: radial-gradient(#cad8ce, #798a89);
    border-radius: 40px;
    max-width: 510%;
    min-width: 400px;
}

.presentacion p {
    color: #f6f4f0;
    font-size: small;
    text-align: center;
}

/*Boton de ''portfolio''*/
.boton div {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*PORTFOLIO--------------------------------*/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.portfolio h1 {
    font-size: 100px;
}

.caja {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f4f0;
    border-radius: 20px;
    padding: 25px;
    gap: 30px;
}

.portfolio img {
border-radius: 20px;
}

.portfolio article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    min-width: 650px;
    gap: 40px
}



/*DIBUJOS-----------------------------------------*/
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h1 {
    font-size: 100px;
}

.titulo p {
    width: 60%;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 75%;
    margin-top: 100px;
    grid-gap: 40px;
    overflow: hidden;

}

.galeria a {
    display: block;
    position: relative;
    overflow: hidden;
}

.galeria a:hover img{
filter: opacity(75%);
}

.galeria img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box:target {
    transform: scale(1);
}

.light-box img {
    max-height: 90vh;
}

.cerrar {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid  #cad8ce;
    border-radius: 40px;
    color: #f6f4f0;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-family: "Fira Code";
    font-weight: 100;

}

/*CONTACTO---------------------------------*/
.formulario { /*recuadro contenedor blanco*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 900px;
    height: fit-content;
    width: 55%;
    min-width: 600px;
    border-radius: 50px;
    background-color: #f6f4f0;
    margin-top: 40px;
    padding: 30px;
    gap: 40px
    }

.formulario h2 {
    width: 300px;
    line-height: 45px;
}

/*Formulario*/
form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

label {
    font-size: 14px;
}

input {
    font-family: "Fira Code", monospace;
}

/*Estilo datos de persona*/
.datos-persona { 
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nombre, .mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

input[type="text"], input[type="email"] {
    width: 100%;
    border-radius: 50px;
    outline: none;
    background-color: #f6f4f0;
    border: 1px solid #666666;
    padding: 12px;
    text-align: center;
}

/*Estilo mensaje*/
.mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    height: 150px;
    width: 100%;
    border-radius: 25px;
    outline: none;
    background-color: #f6f4f0;
    border: 1px solid #666666;
    padding: 20px;
    resize: vertical;
}

/*Boton enviar*/
.botones {
    display: flex;
    flex-direction: row;
}

.boton-enviar {
    width: 20%;
    border-radius: 30px;
    border: none;
    color: #f6f4f0;
    background-color: #798a89;
    padding: 10px;
}

.boton-enviar:hover {
    cursor:pointer;
}


/*MEDIA----------------------------------------------------------*/
@media  screen and (max-width:600px){
    /* Atributos de 'presentacion'*/
    h1 {
    font-size: 150px;
    height: fit-content;
    }

    .presentacion article {
        flex-direction: column;
    }
    .sobre-mi {
        height: fit-content;
        min-width: 300px;
    }
}